<poll>
    <poll_introduction>
    </poll_introduction>
    <poll_title>
        <font color='ffc519'></font>
    </poll_title>
    <start_date></start_date>
    <end_date></end_date>
    <servers></servers>
    <order_num></order_num>
    <race></race>
    <main_class></main_class>
    <world_id></world_id>
    <item_id></item_id>
    <item_cnt></item_cnt>
    <level></level>
    <questions>
	    <question>
            <title>
                <![CDATA[<p align="center"><font size ="5" color="4CB1E5">Aion-Unique Emulator "Copyright 2016-2017"</font></p>
				<br><br>
				<p align="center"><font size ="6" color="FFD700">Welcome to "Aion-Unique"</font></p>
				<br><br>
				<p align="center"><font size ="5" color="FF3333">Please recommend & vote for us !!!</font></p>
				<br><br>
				<p align="center"><font size ="7" color="FF9900">PVP SYSTEM</font></p>
				<br><br>
				<p align="center"><font size ="5" color="FF0000">For UNIQUE STARTERSPACK type .uniquepack info </font></p>
				<br><br>
				<p>Aion Unique, the only server combining the "PVE & PVP" at the same time. Try to win many TOLL/AP/GP/Rewards.
				But if someone kill you, you will lose some AP/GP.</p>
				<br><br>
				<hr/>
				<p>To enter a "1VS1" write .vs</p>
				<p>To enter a "F.F.A" write .ffa</p>
				<p>To make "PK Xform", write .pk</p>
				<p>To enter a "BG" register by the icon.</p>
				<p>For more information "HELP" write .help</p>
				<br><br>
				<hr/>
				<p align="center"><font size ="5" color="4CB1E5">Have Fun & Enjoy on AU</font></p>
				<Br><BR>]]>
			</title>
			<select>
                <input type='radio'>Close Survey</input>
			</select>
		</question>
	</questions>
</poll>